# Hide the contents of directories
IndexIgnore public/Documentos/*
# Deny access to files with extensions .ini, .psd, .log, .sh
<FilesMatch "\.(pdf|png|jpg)$">
Order allow,deny
Deny from all

</FilesMatch>
